body{
  background: #f4f8fb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f4f8fb, #b5c5e2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f4f8fb, #b5c5e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 100px;
}

li{
  float:left;
  margin-right: 15px;
}

li a {
  display: inline-block;
  text-align: center;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-color: #8b9cbf;
  border-style: solid;
  border-width: 1px;
  background-color: #c9d6ef;
  margin-top: 100px;
}

/* Change the link color on hover */
li a:hover {
  background-color: #a2b5db;
}

h1{
  padding-top: 20px;
  padding-left: 60px;
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
}

h4{
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  text-align: center;
}

main{
  padding-left: 20px;
}

footer {
    display: block;
    height: 150px;
    text-align: center;
    font-family: 'Georgia';
    margin-top: 100px;
    padding-top: 50px;
}

/* Header images */
#initial{
  width:140px;
  height:140px;
  margin-left: 100px;
}

#name{
  width:368px;
  height:129px;
  margin-right: 70px;
}

/* Homepage */
#books{
  float: left;
  margin-top: 50px;
  margin-left: 50px;
  width: 600px;
  height: 380px;
}

#FB{
  display: inline-block;
  margin-left: 150px;
}

/* Projects page */
#featured_new_polyglot{
  width: 520px;
  margin-right: 50px;
}

#Projects{
  margin-left: 20px;
  margin-right: 50px;
  text-indent: 30px;
}



/* CV page */
.container{
  float: left;
  border-left: 5px;
}

#PerInfo{
  width: 800px;
}

#Edu{
  width: 800px;
}

#Achiev{
  width: 800px;
}

#HobInt{
  width: 800px;
}

/* Embbed content */
#Contact{
  width:25%;
  float: left;
  margin: 1%;
  padding: 1%;
}
#Goodreads{
  width:25%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
}
#Blog{
  width:25%;
  float: left;
  margin: 1%;
  padding: 1%;
}
